:root {
    --gray-dark: #333333;
    --gray: #666666;
    --gray-light: #eaeaea;
}

body{
    margin: 0;
    background-color: var(--gray-dark);
    color: white;
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: center;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 1rem 0;
}

p {
    margin: 0;
    padding: 1rem 0;
}

ul {
    list-style: none;
}

.btn{
    display: inline-block;
    color: white;
    background-color: var(--gray-dark);
    text-decoration: none;
    padding: 1rem 2rem;
    margin: .5rem 0;
    border: 1px solid var(--gray-light);
}
.btn:hover {
    background-color: var(--gray-light);
    color: var(--gray-dark);
}


/* Header */
#showcase {
    min-height: 33rem;
    color: white;
    text-align: center;
}
#showcase .background-image {
    position: absolute;
    background: var(--gray-dark) url('./resources/images/pexels-pixabay-showcasae.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 33rem;
    z-index: -1;
    opacity: 0.1;
}

#showcase h1{
    padding-top: 6rem;
    padding-bottom: 0;
}

#showcase .content-wrap{
    padding: 0 2rem;
}