:root {
    --gray-dark: #333333;
    --gray: #666666;
    --gray-light: #eaeaea;
    --blue: #226699;
}

body{
    margin: 0;
    background-color: var(--gray-dark);
    color: white;
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: center;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    padding: 1rem 0;
}

p {
    margin: 0;
    padding: 1rem 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn{
    display: inline-block;
    color: white;
    background-color: var(--gray-dark);
    text-decoration: none;
    padding: 1rem 2rem;
    margin: .5rem 0;
    border: 1px solid var(--gray-light);
}
.btn:hover {
    background-color: var(--gray-light);
    color: var(--gray-dark);
}

.grid {
    max-width: 100vw;
    display: grid;
    justify-content: center;
}

/* Header */
#showcase {
    min-height: 33rem;
    color: white;
    text-align: center;
    width: 100%;
}
#showcase .background-image {
    position: absolute;
    background: var(--gray-dark) url('./resources/images/pexels-pixabay-showcasae.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 33rem;
    z-index: -1;
    opacity: 0.1;
}

#showcase h1{
    padding-top: 6rem;
    padding-bottom: 0;
}

#showcase .content-wrap{
    padding: 0 2rem;
}

/* Sections */
#main {
    display: grid;
    grid-template-columns: 
        [col-1] 1fr
        [col-2] 1fr
        [col-3] 1fr
        [col-end]
        ;
}

/* Section A */
#section-a {
    background: var(--gray-light);
    color: var(--gray-dark);
    padding-bottom: 2rem;
    grid-column: col-1 / col-end;
}
#section-a .content-wrap{
    padding: 0 2rem;
    grid-column: col-2;

}

.content-description{
    margin: auto;
    width: 33vw;
    columns: 2;
}


/* Section B */
#section-b {
    padding: 2rem 1rem 1rem;
    grid-column: col-1 / col-end;
}

#section-b ul {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(300px, 450px));
}

#section-b li{
    margin-bottom: 1rem;
    background: white;
    color: var(--gray-dark);
    margin: 1rem;
}
.card-content {
    padding: 1.5rem;
}
.card > img {
    width: 100%;
    height: 20rem;
}

/* Section C */
#section-c {
    background: white;
    color: var(--gray-dark);
    padding: 2rem;
    grid-column: col-1 / col-end;
}

/* Section D */
#section-d {
    grid-column: col-1 / col-end;
    display: flex;
}
#section-d .box {
    padding: 2rem;
    color: white;
    width: 50vw;
}
#section-d .box:first-child{
    background: var(--blue);
}

/* Footer */
#main-footer{
    padding: 2rem;
    background: black;
    color: white;
    text-align: center;
}
#main-footer a{
    color: var(--blue);
    text-decoration: none;
}